<!-- FORMS NEEDED ON THIS PAGE
########## DETAILS of this FORM ##############
#this is connected to the displayOrders.html, b/c it is rendering 
#the specific order that was chosen by the manager to be confirmed
#all of the order details will be loaded
#### AGAIN, THIS IS JUST FOR ONE ORDER

# 3. After the details and at the bottom of this page, there is a edit and accept button
#
# 3.a. The edit button will use the order_id to put in all of the info FROM the database into form mode
# this will look similar to the createOrder.html page, but it will have all of the data preloaded and
# the manager will be able to edit it
#
# 3.b.The accept button will send the order to be a ticket 
# this calls the storeTicketPageView (like 22.9), which will add a new record to the ticketsSummary.html

########## Once submitted, a page is loaded that has multiple buttons ###########
#1. orders (to the ones that need to be confirmed) --> displayOrders.html
# 2. ticket view --> ticketsSummary.html
-->