# This will display all of the orders
# a manager will select a specific order and it will pull up all of the details for that order
# on this page, it will have two buttons... either accept or reject!
# the accept will be a SUBMIT button which calls the
##
# confirmOrder_addTicket.html


########## DETAILS of this FORM ##############
# 1. Shows a list of all the orders still unconfirmed
#
# 2. The manager chooses the order he wants and it will load a seperate page (calls the confirmOrder_addTicket.html) that has all of the details
#
