# this is a FORM that will load
# the inputs as seen in createorder.html
# BUT
# it will have all of the data from the database for the specific order being edited
# At the bottom, there will be a button that says ACCEPT


# The accept button will send the order to be a ticket
# this calls the storeTicketPageView (like 22.9), which will add a new record to the ticketsSummary.html

########## Once submitted, a page is loaded that has multiple buttons ###########
# 1. orders (to the ones that need to be confirmed) --> displayOrders.html
# 2. ticket view --> ticketsSummary.html
