<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Form</title>
<link href="BFD.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/yds4olj.css">
</head>
<navbar>
		<div id="navbar">
			<a>START ORDER</a>
			<logo class="logo" href="https://www.bigfatlogos.com/">
				<img src="BFD_Logo1.png" width="90" hight="90" alt="BFD logo">
			</logo>
			<a href="https://www.bigfatlogos.com/">HOME</a>
			<a>PRODUCTS</a>
			<a>ABOUT</a>
			
		</div>
</navbar>
<body>
    <div class="page">
        <div>
            <h class="title">BIG FAT DESIGN</h>
        </div>
        <div id="catch">
            <h>
                Let's fill out this form real quick
            </h>
        </div>
    <form>
        <div id="contact">
            <label for="fname">First Name:&nbsp;&nbsp;</label>
			<label for="lname">Last Name:</label>
			<br>
            <input type="text" >
            <input type="text" >
            <br> <br>
            <label for="email">Email:</label>
            <br>
            <input type="text" size="25" >
            <br><br>
            <label for="phone">Phone Number:</label>
            <br>
            <input type="text" placeholder="(         )       -   " >
            <br><br>    
		</div>	
            <div class="details">
                
                <label for="orderDescription">Order Description:</label>
                
                <input type="text" maxlength="50" size="30" >

                <label for="quantity">Quantity:</label>

                <input type="text" class="q" maxlength="4" size="4" >
				<br><br><br>
                <button onClick="addFiles">+Add Files</button>
				<br><br><br>
			<button type="submit" size="30">Submit Order</button>
                    
            </div>
            
        </form>
        
    </div>
    
   
</body>
</html>